@import url("https://fonts.googleapis.com/css?family=Lato:300");
html {
    scroll-behavior: smooth;
}

#main_body {
    background-color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/videoblocks-portrait-of-smiling-family-standing-in-front-of-their-home_skmbaiws0m_thumbnail-1080_01.png');
    background-repeat: no-repeat, repeat;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    background-size: cover;
    background-attachment: fixed;
    transition: 0.5s;
}

#logo {
    margin-right: 10px;
    transition: .5s;
}

#mainHeader {
    position: relative;
    color: white;
    font-size: 6em;
    text-align: center;
    text-shadow: 5px 5px 5px #000;
    margin-top: 1%;
    padding-top: 1%;
    top: 0;
    bottom: 0;
}

#PwdHeader {
    position: relative;
    color: white;
    font-size: 5em;
    text-align: center;
    text-shadow: 5px 5px 5px #000;
    margin-top: 1%;
    padding-top: 1%;
    top: 0;
    bottom: 0;
}

#profileImg {
    src: url("https://img-9gag-fun.9cache.com/photo/a09Gp0v_460s.jpg");
}


/*********************************
Nav CSS 
*********************************/

#mySidenav {
    position: fixed;
    z-index: 101;
}

#nav-ele {
    border-radius: 25px;
    transform: translate3d(0px, 0, 0);
    transition: all 1s 0.2s;
    z-index: 101;
}

#nav-ele:hover {
    transform: translate3d(50px, 0, 0);
    transition: all 1s 0.2s;
    background-color: rgba(0, 0, 0, .3);
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 101;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    font-weight: bold;
    color: #818181;
}

.sidenav a:active {
    font-weight: bold;
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav-btn {
    transition: margin-left .5s;
}

#nav-btn {
    padding: 16px;
    z-index: 101;
    position: fixed;
}


/*********************************
Login CSS
*********************************/

.loginForm {
    width: 350px;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.registerForm {
    width: 450px;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

#FormCont {
    text-align: center;
    width: 450px;
    overflow: hidden;
    margin: auto;
    margin-top: 6%;
    position: relative;
    padding: 3%;
    background-color: #3bb7909c;
    background-image: linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%);
    border: 5px solid black;
    border-radius: 15px;
    transition: 0.5s;
}

h2 {
    text-align: center;
    color: #140e61d3;
    padding: 20px;
}

label {
    color: white;
    text-shadow: 5px 5px 5px #000;
    font-size: 17px;
}

.FormInput {
    width: 80%;
    height: 30px;
    border-radius: 7px;
    padding-left: 8px;
    z-index: 101;
    transition: .5s;
}

.FormInput:focus {
    border-radius: 10px;
    background-color: #29e49c9c;
    transition: .5s;
}

@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }
}

#Submit {
    width: 300px;
    height: 30px;
    max-width: 100%;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    font-size: 130%;
    color: Black;
    background-color: white;
    transition: .3s;
    z-index: 101;
}

@media (max-width: 850px) {
    #Submit {
        font-size: 100%;
    }
}

@media (max-width: 400px) {
    #Submit {
        font-size: 80%;
    }
}

#Submit:hover {
    background-color: #144133d3;
    color: white;
    transition: .3s;
}

#remember {
    color: white;
    text-shadow: 5px 5px 5px #000;
    font-size: 17px;
    z-index: 101;
}

#pass {
    color: white;
    text-shadow: 5px 5px 5px #000;
    z-index: 101;
}

.dimmer {
    background: #000;
    opacity: 0;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

footer {
    margin-top: 5%;
}

#Company,
#LabelCompany {
    display: none;
}

#License,
#state,
#LabelState,
#LabelLicense {
    display: block;
}


/*******************************************************
Profile CSS
*******************************************************/

#profileContainer {
    text-align: center;
    width: 750px;
    overflow: hidden;
    margin: auto;
    position: relative;
    padding: 3%;
    background-color: #3bb7909c;
    background-image: linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%);
    border: 5px solid black;
    border-radius: 15px;
    transition: 0.5s;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 10px;
    background-color: #3bb7909c;
    background-image: linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%);
    border: 5px solid black;
}

.grid-item {
    color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    padding: 1%;
    font-size: 20px;
    text-align: center;
}

#MapContainer {
    z-index: 0;
    width: 100%;
    text-align: center;
}

#mapid {
    z-index: 0;
    position: relative;
    height: 800px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#ListingMapContainer {
    width: 100%;
    height: 80vh;
    text-align: center;
    padding-right: 4%
}

#mymapid {
    height: 83.5vh;
    width: 100%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
    background-color: #3bb7909c;
    background-image: linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%);
    border: 5px solid black;
}

.grid-item2 {
    color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1%;
    font-size: 20px;
    text-align: center;
}

.grid-container3 {
    display: grid;
    grid-template-columns: 60% 40%;
}

.SideMap,
.grid-item3 {
    border-bottom: 1px solid black;
}

.SideMap {
    grid-row-start: span 3;
    border-right: 1px solid black;
}

.grid-item3 {
    text-align: justify;
    text-justify: auto;
}

h2.sub2head {
    grid-column-start: span 4;
    text-align: center;
}

.grid-container4 {
    display: grid;
    grid-template-columns: 49% 49%;
    padding: 10px;
    border: 5px solid black;
}

.grid-item4 {
    color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1%;
    font-size: 20px;
    text-align: center;
}


/*************************************************************
Listing CSS
**************************************************************/

#main_body.no-caps {
    text-transform: none;
}

#Listing_body.no-caps {
    text-transform: none;
}

#Listing_body {
    background-color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://www.wallpapers4u.org/wp-content/uploads/building_house_cottage_style_design_49252_1920x1080.jpg');
    background-repeat: no-repeat, repeat;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 10%;
    transition: 0.5s;
}

#MainListingBody {
    transition: 0.5s;
}

#listingContainer1 {
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #3bb7909c;
    background-image: linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%);
    border: 1px solid black;
    transition: 0.5s;
}

#ProfContainer {
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #3bb7909c;
    background-image: linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%);
    border: 1px solid black;
    transition: 0.5s;
}

ul li.no-list-icon {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listingContainer1 .notification {
    font-size: 1.25em;
}

#listingContainer1 h2.subhead,
#FormCont h2.subhead {
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000;
    font-size: 3em;
    margin: 0;
    background-color: rgba(44, 138, 108, 1);
    /* same color as container bg but only 3/4 as bright and 1005 opaque*/
    border-top: black;
    border-bottom: black;
    border-width: 1px 0 1px 0;
    border-style: solid;
    padding: 0 1em 0 1em;
}

#listingContainer1 h2.subhead .top {
    border-top: 0;
}

button.link-btn,
button#admin-delete,
button#admin-update,
button#realtor-delete,
button#realtor-update,
input.link-btn {
    width: auto;
    height: auto;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    font-size: 1.3em;
    color: Black;
    background-color: white;
    transition: .3s;
    z-index: 101;
}

h2.sub2head {
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000;
    font-size: 2em;
    margin: 0;
    background-color: rgba(44, 138, 108, 1);
    /* same color as container bg but only 3/4 as bright and 1005 opaque*/
    border-top: black;
    border-bottom: black;
    border-width: 1px 0 1px 0;
    border-style: solid;
    padding: 0 1% 0 1%;
}

#listingContainer1 h2.sub2head .top {
    border-top: 0;
}

button.link-btn:hover,
button#admin-delete:hover,
button#admin-update:hover,
button#realtor-delete:hover,
button#realtor-update:hover,
input.link-btn:hover {
    background-color: #144133d3;
    color: white;
    transition: .3s;
}

div.center-align {
    text-align: center;
}

div.top-border {
    border-style: solid;
    border-top: black;
    border-width: 1px 0 0 0;
    padding: 0.1em;
}

form#ListingForm a button.Submit {
    width: auto;
}

#ConfirmDeleteForm {
    margin-bottom: 0.2em;
}

p.warning {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
}

.render-inline {
    display: inline-block;
}


/*
THIS IS THE OTHER PAGES
*/

#listingContainer {
    text-align: center;
    width: 750px;
    overflow: hidden;
    margin: auto;
    position: relative;
    padding: 0 0 1% 0;
    background-color: #3bb7909c;
    background-image: linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%);
    border: 5px solid black;
    border-radius: 15px;
    transition: 0.5s;
}

ul li.no-list-icon {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listingContainer .notification {
    font-size: 1.25em;
}

#listingContainer h2.subhead,
#FormCont h2.subhead {
    color: whitesmoke;
    text-shadow: 1px 1px 1px #000;
    font-size: 3em;
    margin: 0;
    background-color: rgba(44, 138, 108, 1);
    /* same color as container bg but only 3/4 as bright and 1005 opaque*/
    border-top: black;
    border-bottom: black;
    border-width: 1px 0 1px 0;
    border-style: solid;
    padding: 0 1em 0 1em;
}

#listingContainer h2.subhead .top {
    border-top: 0;
}


/* 
Images
*/

#listingImgs {
    height: 200px;
    width: 20%;
    object-fit: cover;
    transition: .5s;
    border: 3px solid black;
    min-width: 300px;
    border-radius: 10px;
}

#listingImgs:hover {
    -webkit-transform: scale(1.25);
    /* or some other value */
    transform: scale(1.25);
    transition: .5s;
}

.ProfInput {
    width: 50%;
    height: 30px;
    border-radius: 7px;
    padding-left: 8px;
    z-index: 101;
    transition: .5s;
}

.ProfInput:focus {
    border-radius: 10px;
    background-color: #29e49c9c;
    transition: .5s;
}

.ProfSelect {
    width: 50%;
    height: 30px;
    border-radius: 7px;
    padding-left: 8px;
    z-index: 101;
    transition: .5s;
}

.ProfSelect:focus {
    border-radius: 10px;
    background-color: #29e49c9c;
    transition: .5s;
}

.grid-container5 {
    display: grid;
    grid-template-columns: 49% 49%;
    padding: 10px;
    border: 5px solid black;
}

.grid-item5 {
    color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
}

.ProfLabels {
    font-size: 2vh;
}

.SidePicture {
    grid-row-start: span 8;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.ProfPic {
    height: 55vh;
    max-width: 100%;
}

.ProfPicCont {
    text-align: center;
}