<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
    {% load static %}
    <link id="pageStyle" href="{% static 'Williz/main.css' %}" type="text/css" rel="stylesheet" />
      <div id="mySidenav" class="sidenav">
      <a class="closebtn" onclick="closeNav()" style= "cursor: pointer">&times;</a>
      <div id = "nav-ele">
      <a href="#home" onclick="closeNav()">Home</a>
      </div>
      <div id = "nav-ele">
      <a href="#Listings" onclick="closeNav()">Listings</a>
      </div>
      <div id = "nav-ele">
      <a href="#Contact" onclick="closeNav()">Contact</a>
      </div>
      <div id = "nav-ele">
      <a href="../../register" onclick="closeNav()">Create Account</a>
      </div>
      <div id = "nav-ele">
      <a href="../../login" onclick="closeNav()">Login</a>
      </div>
    </div>
    <span id="nav-btn" style="font-size:4em;cursor:pointer; float:left; positon:relative; color:white" onclick="openNav()">&#9776;</span>
  </head>


      <script>


function openNav() {

    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_body").style.marginLeft = "250px";

 document.getElementById("dimmer").style.opacity = "0.6"
 document.getElementById("dimmer").style.zIndex = "100";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main_body").style.marginLeft = "0";
        document.getElementById("dimmer").style.opacity = "0"
        document.getElementById("dimmer").style.zIndex = "-1";
}


function fnameEdit() {

     var a = document.getElementsByClassName("fnameInput")[0];

     if (a.style.display == "none"){
         a.style.display = "block";
     }
     else{
         a.style.display = "none";
     }
}
/*
possible use if we need to seperate realtors/appraiser/mortagage lender tables
function showRealtorTable() {
 var a = document.getElementById("realtorsTable");
 var b = document.getElementById("appraisersTable");
 var c = document.getElementById("mlTable");

     if (a.style.display == "none"){
         a.style.display = "grid";
     }
    else{
        a.style.display = "none";
     }
}
*/

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function deleteUserAccount(user_id){
        if(confirm("Are you sure you want to delete this user?")){
            $.ajax({
                type: 'GET',
                url: "../delete_user_account/" + user_id,
                data: {"user_id": user_id,},
                success: function (response) {
                    window.location.replace("/accountRequests")
                },
                error: function (response) {
                    window.alert("Something went wrong, please reload the page")
                }
            })
        }
    }

</script>



{% load static %}
          <img id = "logo" src="{% static 'Williz/logoWhiteStroke.png' %}" style = "float:right" alt = "Logo">


<div style = "clear:both"></div>


  <body id="main_body" style = "background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://shinglehutroofing.com/wp-content/uploads/2020/11/HANDSHAKE.png');">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      function changeVerification(email){
          if(confirm("Do you want to change the verification status of the account associated with " + email + "?")){
              $.ajax({
                  type: 'GET',
                  url: "../change_verification/email/" + email,
                  data: {"email": email},
                  success: function (response) {
                      window.location.replace("/accountRequests")
                  },
                  error: function (response) {
                      window.alert("Something went wrong, please reload the page.")
                  }
              })
          }
      }
  </script>

    <div class="dimmer" id = "dimmer"></div>


    <h1 id="mainHeader">User Requests</h1>

    <div id = "userInfoContainer" style = "text-align: left;">

<div class="grid-container" id = "realtorsTable">
  <div class="grid-item"><strong><em>First Name</strong></em></div>
  <div class="grid-item"><b><i>Last Name</b></i></div>
  <div class="grid-item"><b><i>Email</b></i></div>  
  <div class="grid-item"><b><i>User Type</b></i></div>
  <div class="grid-item"><b><i>License #</b></i></div>
    <div class="grid-item"><b><i>Change Verification</b></i></div>
    <div class="grid-item"><b><i>Delete</b></i></div>

        {% for Requests in UserRequests %}
  <div class="grid-item">{{ Requests.f_name }}</div>
  <div class="grid-item">{{ Requests.l_name }}</div>

  <div class="grid-item">{{ Requests.email }}</div>
  <div class="grid-item">{{ Requests.user_type }}</div>
  <div class="grid-item">{{Requests.Lic_num}} </div>

  <div class="grid-item"><button onclick="changeVerification('{{Requests.email}}')">Change Verification Status</button></div>
  <div class="grid-item"><button onclick="deleteUserAccount('{{Requests.user_id}}')">Delete</button></div>

         {% endfor %}
</div>


</div>
 <footer class="footer">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a href="#" class="navbar-brand">About Williz</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                </ul>
        </nav>
    </footer>

  </body>
</html>
