<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
    {% load static %}
    <link id="pageStyle" href="{% static 'Williz/main.css' %}" type="text/css" rel="stylesheet" />
      <div id="mySidenav" class="sidenav">
      <a class="closebtn" onclick="closeNav()" style= "cursor: pointer">&times;</a>
      <div id = "nav-ele">
      <a href="#home" onclick="closeNav()">Home</a>
      </div>
      <div id = "nav-ele">
      <a href="/searchListings" onclick="closeNav()">Listings</a>
      </div>
      <div id = "nav-ele">
      <a href="https://bit.ly/3ALsOBD" onclick="closeNav()">Contact</a>
      </div>
      <div id = "nav-ele">
      <a href="/register" onclick="closeNav()">Create Account</a>
      </div>
      <div id = "nav-ele">
      <a href="/login" onclick="closeNav()">Login</a>
      </div>
    </div>
    <span id="nav-btn" style="font-size:4em;cursor:pointer; float:left; positon:relative; color:white" onclick="openNav()">&#9776;</span>
  </head>
      
      
      <script>


function openNav() {

    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_body").style.marginLeft = "250px";
 document.getElementById("dimmer").style.opacity = "0.6"
 document.getElementById("dimmer").style.zIndex = "100";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main_body").style.marginLeft = "0";
        document.getElementById("dimmer").style.opacity = "0"
        document.getElementById("dimmer").style.zIndex = "-1";

}  
</script>
{% load static %}
          <img id = "logo" src="{% static 'Williz/logoWhiteStroke.png' %}" style = "float:right" alt = "Logo">


<div style = "clear:both"></div>


  <body id="main_body">

    <div class="dimmer" id = "dimmer"></div>

    <div id="FormCont"> 

    <h1 id="mainHeader">Login</h1>   
    <form id="loginForm" method="POST" action="../login_handler/">
        {% csrf_token %}
        <label><b>Email</b>
        </label></br>   
        <input type="email" name="email" id="email" class = "FormInput" placeholder="Email" required>    
        <br><br>    
        <label><b>Password</b>    
        </label>    
        <input type="Password" name="Psw" id="Psw" class = "FormInput" placeholder="Password" required>    
        <br><br>    
        <button type = "Submit" id ="Submit" name ="Submit" value="Login">Login</button>      
        <br><br>    
        <input type="checkbox" id="check">    
        <span id = "Remember" style = "color:white; text-shadow: 5px 5px 5px #000;">Remember me</span>    
        <br><br>    
       <a style = "color:white; text-shadow: 5px 5px 5px #000;"> Forgot</a> <a id = "pass" href="../resetPassword/">Password</a>    
    </form>     
</div> 


  </body>
</html>