<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title></title>
    {% load static %}
    <link id="pageStyle" href="{% static 'Williz/main.css' %}" type="text/css" rel="stylesheet" />
      <div id="mySidenav" class="sidenav">
      <a class="closebtn" onclick="closeNav()" style= "cursor: pointer">&times;</a>
      <div id = "nav-ele">
      <a href="#home" onclick="closeNav()">Home</a>
      </div>
      <div id = "nav-ele">
      <a href="/searchListings" onclick="closeNav()">Listings</a>
      </div>
      <div id = "nav-ele">
      <a href="ontact" onclick="closeNav()">Contact</a>
      </div>
      <div id = "nav-ele">
      <a href="/register" onclick="closeNav()">Create Account</a>
      </div>
      <div id = "nav-ele">
      <a href="/login" onclick="closeNav()">Login</a>
      </div>
    </div>
    <span id="nav-btn" style="font-size:4em;cursor:pointer; float:left; positon:relative; color:white" onclick="openNav()">&#9776;</span>
  </head>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>


function openNav() {

    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_body").style.marginLeft = "250px";

 document.getElementById("dimmer").style.opacity = "0.6"
 document.getElementById("dimmer").style.zIndex = "100";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main_body").style.marginLeft = "0";
        document.getElementById("dimmer").style.opacity = "0"
        document.getElementById("dimmer").style.zIndex = "-1";

}  


function fnameEdit() {

     var a = document.getElementsByClassName("fnameInput")[0];

     if (a.style.display == "none"){
         a.style.display = "block";
     }
     else{
         a.style.display = "none";
     }
}

function deleteUserAccount(user_id){
    if(confirm("Are you sure you want to delete this user?")){
        $.ajax({
            type: 'GET',
            url: "../../delete_user_account/" + user_id,
            data: {"user_id": user_id},
            success: function (response) {
                window.location.replace("../../")
            },
            error: function (response) {
                window.alert("Something went wrong, please reload the page")
            }
        })
    }
}
</script>
{% load static %}
          <img id = "logo" src="{% static 'Williz/logoWhiteStroke.png' %}" style = "float:right" alt = "Logo">


<div style = "clear:both"></div>


  <body id="main_body">
    <div class="dimmer" id = "dimmer"></div>


    <h1 id="mainHeader">Profile</h1>
    <div id = "profileContainer">
{#    <div id = "imgContainer">#}
{#    <img id = "userImg" name = "img" src = "https://i.pinimg.com/564x/e7/10/54/e710544ab2db28a6217d4a04bfeea9c0.jpg">#}
{#    </div>#}

    <div id = "userInfoContainer" style = "text-align: left;">
    <form action="../edit_user_info" method="POST">
        {% csrf_token %}
    <label style = "white-space: pre;"><b>First Name:   </b></label> 
    <label id ="fname" name = "fname"><i>{{f_name}}</i></label></br>
    <input class = "FormInput" name = "fnameInput" id = "fnameInput" placeholder={{f_name}}>
    </br>



    <label style = "white-space: pre;"><b>Last Name:   </b></label>
    <label id ="lname" name = "lname"><i>{{l_name}}</i></label></br>
    <input class = "FormInput" name = "lnameInput" id = "lnameInput" placeholder={{l_name}}>
    </br>

    <label style = "white-space: pre;"><b>Email:   </b></label>
    <label id ="email" name = "email"><i>{{email}}</i></label></br>
    <input class = "FormInput" name = "emailInput" class = "emailInput" placeholder={{email}}>
    </br>

    <label style = "white-space: pre;"><b>State:   </b></label>
    <label id ="State" name = "State"><i>{{state}}</i></label></br>
<select name="state" id = "state" class = "FormInput" placeholder={{state}}>
<option value="" selected>Please Select</option>
        {% for stat in states %}
            {% if state == stat.abbr %}
            <option value="{{stat.abbr}}" selected>{{stat.stat}}</option>
            {% else %}
            <option value="{{stat.abbr}}">{{stat.stat}}</option>
            {% endif %}
        {% endfor %}
</select>


    <label style = "white-space: pre;"><b>License Number:   </b></label>
    <label id ="licenseNumber" name = "licenseNumber"><i>{{license_num}}</i></label></br>
    <input class = "FormInput" name = "LicenseInput" id = "LicenseInput" placeholder={{license_num}}>
    </br>

    <label style = "white-space: pre;"><b>Mortgage Company:   </b></label>
    <label id ="MortgageCompany" name = "MortgageCompany"><i>{{bank.co_name}}</i></label></br>
    <input class = "FormInput" name = "CompanyInput" id = "CompanyInput" placeholder={{bank.co_name}}>
    </br>
    </br>
    <button type = "Submit" id ="Submit" name ="Save" value="Submit">Save</button>
        <input style="visibility: hidden" class="FormInput" name="user_id" value={{user_id}}/>
    </form>
        <form method="POST" action="../../createListing/email/{{email}}">
            {% csrf_token %}
            <button type = "Submit" id ="Submit" value="Submit">Create Listing</button>
        </form></br></br>
        <button type="Submit" id="Submit" value="Delete" onclick="deleteUserAccount('{{user_id}}')">Delete Account</button>


    </div>
</div>
</div> 


  </body>
</html>