<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Williz User Profile</title>
    {% load static %}
    <link id="pageStyle" href="{% static 'Williz/main.css' %}" type="text/css" rel="stylesheet" />
      <div id="mySidenav" class="sidenav">
      <a class="closebtn" onclick="closeNav()" style= "cursor: pointer">&times;</a>
      <div id = "nav-ele">
      <a href="#home" onclick="closeNav()">Home</a>
      </div>
      <div id = "nav-ele">
      <a href="/searchListings" onclick="closeNav()">Listings</a>
      </div>
      <div id = "nav-ele">
      <a href="ontact" onclick="closeNav()">Contact</a>
      </div>
      <div id = "nav-ele">
      <a href="/register" onclick="closeNav()">Create Account</a>
      </div>
      <div id = "nav-ele">
      <a href="/login" onclick="closeNav()">Login</a>
      </div>
    </div>
    <span id="nav-btn" style="font-size:4em;cursor:pointer; float:left; positon:relative; color:white" onclick="openNav()">&#9776;</span>
  </head>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>


function openNav() {

    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("MainListingBody").style.marginLeft = "250px";
document.getElementById("nav-btn").style.width="250px";
 document.getElementById("dimmer").style.opacity = "0.6"
 document.getElementById("dimmer").style.zIndex = "100";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
      document.getElementById("MainListingBody").style.marginLeft = "0";
      document.getElementById("nav-btn").style.width="0";
        document.getElementById("dimmer").style.opacity = "0"
        document.getElementById("dimmer").style.zIndex = "-1";

}  


function fnameEdit() {

     var a = document.getElementsByClassName("fnameInput")[0];

     if (a.style.display == "none"){
         a.style.display = "block";
     }
     else{
         a.style.display = "none";
     }
}

function deleteUserAccount(user_id){
    if(confirm("Are you sure you want to delete this user?")){
        $.ajax({
            type: 'GET',
            url: "../../delete_user_account/" + user_id,
            data: {"user_id": user_id},
            success: function (response) {
                window.location.replace("../../")
            },
            error: function (response) {
                window.alert("Something went wrong, please reload the page")
            }
        })
    }
}
</script>



<body id="MainListingBody" style = "margin:0;">
<div id="Listing_body" class="no-caps" style = "margin:0;     background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://visme.co/blog/wp-content/uploads/2020/06/how-to-use-stock-photos-of-people-go-for-the-team.jpg');">
{% load static %}
          <img id="logo" src="{% static 'Williz/logoWhiteStroke.png' %}" style = "float:right" alt = "Logo">
<div style = "clear:both"></div>

    <div class="dimmer" id="dimmer"></div>


    <h1 id="mainHeader">Profile</h1>
    </div>
    <div id="ProfContainer">
{#    <div id="imgContainer">#}
{#    <img id="userImg" name = "img" src = "https://i.pinimg.com/564x/e7/10/54/e710544ab2db28a6217d4a04bfeea9c0.jpg">#}
{#    </div>#}

    <div id="userInfoContainer" style = "text-align: left;">
    <form action="../edit_user_info" method="POST">
        {% csrf_token %}
        <div class="grid-container5">
    <div class="grid-item5" style = "border-bottom: 1px solid black">
       <h2 class="sub2head">Edit Profile</h2> 
     </div>
    <div class="grid-item5" style = "border-bottom: 1px solid black">
         <h2 class="sub2head">  Picture </h2>
     </div>
  <div class="grid-item5"> 
    <label id="fname" name = "fname" class = "ProfLabels"><b style = "white-space: pre-wrap; font-size: 3vh">First Name:   </b><i>{{f_name}}</i></label><br>
       <input class = "ProfInput" name = "fnameInput" id="fnameInput" placeholder={{f_name}}>
  </div>
  <div class="SidePicture">   
       <div class = "ProfPicCont">
            <img src = "https://www.pikpng.com/pngl/b/552-5529288_tie-user-default-suit-business-contact-comments-icon.png" class = "ProfPic">
           <br><label class = "ProfLabels"><b><a href="">Edit</a></b></label>
       </div> 
  </div>
  <div class="grid-item5">
      <label id="lname" name = "lname" class = "ProfLabels"><b>Last Name:   </b><i>{{l_name}}</i></label><br>
    <input class = "ProfInput" name = "lnameInput" id="lnameInput" placeholder={{l_name}}>
  </div>

  <div class="grid-item5">   
    <label id="email" name = "email" class = "ProfLabels"><b>Email:   </b><i>{{email}}</i></label><br>
    <input class = "ProfInput" name = "emailInput" class = "emailInput" placeholder={{email}}>
  </div>

  <div class="grid-item5">
    <label id="State" name = "State" class = "ProfLabels"><b>State:   </b><i>{{state}}</i></label><br>
    <div align="center">
<select name="state" id="state" class = "ProfSelect" placeholder={{state}}>
<option value="" selected>Please Select</option>
        {% for stat in states %}
            {% if state == stat.abbr %}
            <option value="{{stat.abbr}}" selected>{{stat.stat}}</option>
            {% else %}
            <option value="{{stat.abbr}}">{{stat.stat}}</option>
            {% endif %}
        {% endfor %}
</select>
</div>
  </div>

    <div class="grid-item5"> 
    <label id ="licenseNumber" name = "licenseNumber" class = "ProfLabels"><b>License Number:   </b><i>{{license_num}}</i></label><br>
    <input class = "ProfInput" name = "LicenseInput" id = "LicenseInput" placeholder={{license_num}}>
    </div>

          <div class="grid-item5">
        <label id ="MortgageCompany" name = "MortgageCompany" class = "ProfLabels"><b>Mortgage Company:   </b><i>{{bank}}</i></label><br>
    <input class = "ProfInput" name = "CompanyInput" id = "CompanyInput" placeholder={{bank}}>
     </div>
    <br>
    <div class="grid-item5">
             <button type = "Submit" id ="Submit" name ="Save" value="Submit">Save</button>
        <input style="visibility: hidden" class="FormInput" name="user_id" value={{user_id}}/>
    </form>
        <form method="POST" action="../../createListing/email/{{email}}">
            {% csrf_token %}
           {%if is_realtor %}
            <button type = "Submit" id ="Submit" value="Submit">Create Listing</button>

        </form><br><br>
            {% else %}
        </form>
            {% endif %}
        <button type="Submit" id="Submit" value="Delete" onclick="deleteUserAccount('{{user_id}}')">Delete Account</button>
     </div>

</div>
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
</div>
</div>
</div> 


  </body>
</html>