<!DOCTYPE html>
<html lang="en">
{% load static %} 
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <title></title>
    <link id="pageStyle" href="{% static 'Williz/main.css' %}" type="text/css" rel="stylesheet" />
      <div id="mySidenav" class="sidenav">
      <a class="closebtn" onclick="closeNav()" style= "cursor: pointer">&times;</a>
      <div id = "nav-ele">
      <a href="#home" onclick="closeNav()">Home</a>
      </div>
      <div id = "nav-ele">
      <a href="/searchListings" onclick="closeNav()">Listings</a>
      </div>
      <div id = "nav-ele">
      <a href="https://bit.ly/3ALsOBD" onclick="closeNav()">Contact</a>
      </div>
      <div id = "nav-ele">
      <a href="/register" onclick="closeNav()">Create Account</a>
      </div>
      <div id = "nav-ele">
      <a href="/login" onclick="closeNav()">Login</a>
      </div>
    </div>
    <span id="nav-btn" style="font-size:4em;cursor:pointer; float:left; positon:relative; color:white" onclick="openNav()">&#9776;</span>
  </head>
      
      
      <script>


function openNav() {

    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_body").style.marginLeft = "250px";

    /*
    document.getElementById("main_body").style.backgroundImage = "linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/videoblocks-portrait-of-smiling-family-standing-in-front-of-their-home_skmbaiws0m_thumbnail-1080_01.png')";
    document.getElementById("loginCont").style.backgroundColor = "#3bb79090";
    document.getElementById("loginCont").style.backgroundImage = "linear-gradient(315deg, #3bb79080 0%, #0bab6380 74%)";
    */
 document.getElementById("dimmer").style.opacity = "0.6"
 document.getElementById("dimmer").style.zIndex = "100";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main_body").style.marginLeft = "0";

        /*
    document.getElementById("main_body").style.backgroundImage = "linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/videoblocks-portrait-of-smiling-family-standing-in-front-of-their-home_skmbaiws0m_thumbnail-1080_01.png')";
      document.getElementById("loginCont").style.backgroundColor = "#3bb7909c";
       document.getElementById("loginCont").style.backgroundImage = "linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%)";
           */
        document.getElementById("dimmer").style.opacity = "0"
        document.getElementById("dimmer").style.zIndex = "-1";

}  
</script>
          <img id = "logo" src="{% static 'Williz/logoWhiteStroke.png' %}" style = "float:right" alt = "Logo">


<div style = "clear:both"></div>


  <body id="main_body" onload = "Radius()">
    <script></script>

    <div class="dimmer" id = "dimmer"></div>
    <h1 id="mainHeader">Listings</h1>
   <div id="FormCont">  

 <form id="loginForm" method="POST" action="../searchListings/"> 
         {% csrf_token %} 
         <label><b>Location</b> 
         </label></br> 
         <input type="search" name="userLoc" id="userLoc" class = "FormInput" placeholder="Enter Location">  </br> 

          
         <label class="Radio-btn" style = "padding-right:2%;display:none">50 Miles 
         <input type="radio" id = "Radius50" name="radio" value="0" style = "display:none"> 
         </label>    

         <label class="Radio-btn" style = "padding-right:2%;display:none">25 Miles 
         <input type="radio" id = "Radius25" name="radio" value="0" style = "display:none"> 
         </label>  

         <label class="Radio-btn" style = "padding-right:2%;display:none">10 Miles 
         <input type="radio" id = "Radius10" name="radio" value="0" style = "display:none"> 
         </label> 

         <label class="Radio-btn" style = "padding-right:2%;display:none">All
         <input type="radio" id = "Radiusall" name="radio" style = "display:none"checked> 
         </label> 
     </form> 
         {% comment %} <button onClick="Radius()"> Show Listings</button>  {% endcomment %}
 </div>  
 </br>


<div id="nearbyListings">

</div>
<div id ="MapContainer" style = "display:none">
    <div id="mapid" style = "display:none"></div> 
</div>
  </body>



     <script> 

var pk = 'pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ'
mapboxgl.accessToken = pk;
const mymap = new mapboxgl.Map({
    container: 'mapid',
    style: 'mapbox://styles/mapbox/streets-v11',
    zoom: 13
});



var element = document.getElementById('nearbyListings');
//Get coordinates from map when right clicking
/*
mymap.on('style.load', function() {
  mymap.on('click', function(e) {
    var coordinates = e.lngLat;
    new mapboxgl.Popup()
      .setLngLat(coordinates)
      .setHTML('you clicked here: <br/>' + coordinates)
      .addTo(mymap);
  });
});
*/
function getDistance(origin, destination) {
    // return distance in meters
    var lon1 = toRadian(origin[0]),
        lat1 = toRadian(origin[1]),
        lon2 = toRadian(destination[0]),
        lat2 = toRadian(destination[1]);

    var deltaLat = lat2 - lat1;
    var deltaLon = lon2 - lon1;

    var a = Math.pow(Math.sin(deltaLat / 2), 2) + Math.cos(lat1) * Math.cos(lat2) * Math.pow(Math.sin(deltaLon / 2), 2);
    var c = 2 * Math.asin(Math.sqrt(a));
    var EARTH_RADIUS = 6371;
    return (c * EARTH_RADIUS * 1000) / 1609;
}

function toRadian(degree) {
    return degree * Math.PI / 180;
}
    var t = 0;

function Radius() {
    var Uloc = "{{UserLoc}}";
    let Listings = [];
    let ListingsAskingPrice = [];
    let ListingLink = [];
    let temp = [];

    {% for List in AllListings %}
    
    var a = "{{List.house_num}} {{List.street_name}}, {{List.state}}.";
    var b = "{{List.asking_price}}";
    var c = "{{List.state}}";
    var d = "{{List.zip_code}}";
    var e = "{{List.city}}";
    var f = "{{List.street_name}}";
    var g = "{{List.house_num}}";
    Listings.push(a);
    ListingsAskingPrice.push(b);
    temp.push(c, d, e, f, g);
    ListingLink.push(temp);
    temp = [];
    {% endfor %}
console.log("LISTING LINK:" ,ListingLink[0])

let trueListings = [];
let urls = [];
for (var z = 0; z < Listings.length; z++) {
 urls[z] = 'https://api.mapbox.com/geocoding/v5/mapbox.places/'+Listings[z]+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ'
}
axios.all([axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Uloc+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ')])
  .then(axios.spread((...responses) => {
    responses.forEach(res => console.log(responses))
    console.log('submitted all axios calls');
  }))
.catch(error => {})
let ListingCoords = []
for (var i = 0; i < Listings.length; i++) {
axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Listings[i]+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ')
.then(response => {
    ListingCoords.push(response.data.features[0].geometry.coordinates);
})
.then(response => {
axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Uloc+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ')
    .then(response => {

        const requestArr = [];
        requestArr.push(response.data.features[0].center[0]);
        requestArr.push(response.data.features[0].center[1]);
    let output = []
    var radio10 = document.getElementById('Radius10');
    var radio25 = document.getElementById('Radius25');
    var radio50 = document.getElementById('Radius50');
    var radioall = document.getElementById('Radiusall');
    var ArrDistAll = [];
    for (var p = 0; p < Listings.length; p++) {
        var ListingObject = new Object();
        var distance = getDistance(requestArr, ListingCoords[p]);
    if (t == Listings.length-1){
        ListingObject = {
            Coords: ListingCoords[p],
            Address: Listings[p],
            Distance: distance,
            AskingPrice: ListingsAskingPrice[p]
        };
        trueListings.push(ListingObject);

        ArrDistAll.push(distance)

}  
    }
    if ((radio10.checked == true) && (radio25.checked == false) && (radio50.checked == false) && (radioall.checked == false)) {
        output.push(trueListings.filter(CheckDist => CheckDist.Distance <= 10));
    } else if ((radio10.checked == false) && (radio25.checked == true) && (radio50.checked == false) && (radioall.checked == false)) {
        output.push(trueListings.filter(CheckDist => CheckDist.Distance <= 25));
    } else if ((radio10.checked == false) && (radio25.checked == false) && (radio50.checked == true) && (radioall.checked == false)) {
        output.push(trueListings.filter(CheckDist => CheckDist.Distance <= 50));
    } else if ((radio10.checked == false) && (radio25.checked == false) && (radio50.checked == false) && (radioall.checked == true)) {
        output.push(trueListings.filter(CheckDist => CheckDist.Distance > 0));
    }
        else{
            console.log("error");
        }
       if(t === (ArrDistAll.length-1)){
            var GridContainer = document.createElement("div");
            var GridItem5 = document.createElement("div");
            GridItem5.className = "grid-item2";
            var index5 = document.createTextNode("Address");
            GridItem5.style.fontWeight = "bold";
            GridItem5.style.fontStyle = "Italic";
            GridItem5.appendChild(index5);

            var GridItem6 = document.createElement("div");
            GridItem6.className = "grid-item2";
            var index6 = document.createTextNode("Asking Price");
            GridItem6.style.fontWeight = "bold";
            GridItem6.style.fontStyle = "Italic";
            GridItem6.appendChild(index6);

            var GridItem7 = document.createElement("div");
            GridItem7.className = "grid-item2";
            var index7 = document.createTextNode("Distance");
            GridItem7.style.fontWeight = "bold";
            GridItem7.style.fontStyle = "Italic";
            GridItem7.appendChild(index7);

            var GridItem8 = document.createElement("div");
            GridItem8.className = "grid-item2";
            var index8 = document.createTextNode("Details");
            GridItem8.style.fontWeight = "bold";
            GridItem8.style.fontStyle = "Italic";
            GridItem8.appendChild(index8);

                GridContainer.appendChild(GridItem5);
                GridContainer.appendChild(GridItem6);
                GridContainer.appendChild(GridItem7);
                GridContainer.appendChild(GridItem8);

           for(var x = 0; x<=output[0].length-1;x++){
               var DetailUrls = "../listing/"+ListingLink[x][0]+"/"+ListingLink[x][1]+"/"+ListingLink[x][2]+"/"+ListingLink[x][3]+"/"+ListingLink[x][4];
                var GridItem1 = document.createElement("div");
                var GridItem2 = document.createElement("div");
                var GridItem3 = document.createElement("div");
                var GridItem4 = document.createElement("div");

                GridContainer.className = "grid-container2";

                GridItem1.className = "grid-item2";
                var index1 = document.createTextNode(output[0][x].Address);
                GridItem1.appendChild(index1);

                GridItem2.className = "grid-item2";
                var index2 = document.createTextNode(output[0][x].AskingPrice +"$");
                GridItem2.appendChild(index2);


                GridItem3.className = "grid-item2";
                      try{
                        var index3 = document.createTextNode(output[0][x].Distance.toFixed(2) + " Miles");
                         }
                     catch (e){
                         console.log("Error Undefiend Property")
                        }

                GridItem3.appendChild(index3);

//<div class="grid-item2"><b><i><form method="POST" action="update/{{ listing.state }}/{{ listing.zip_code }}/{{ listing.city }}/{{ listing.street_name }}/{{ listing.house_num }}">{% csrf_token %}<button type = "Submit" id ="Submit" value="Submit">Details</button>

                GridItem4.className = "grid-item2";
                var button = document.createElement("a");
                button.href = DetailUrls;  
                var index4 = document.createTextNode("Details");
                button.appendChild(index4);
                GridItem4.appendChild(button);

                GridContainer.appendChild(GridItem1);
                GridContainer.appendChild(GridItem2);
                GridContainer.appendChild(GridItem3);
                GridContainer.appendChild(GridItem4);
                element.appendChild(GridContainer);
           }
       }
       else{
           console.log("passed")
           console.log("passed length: ", ArrDistAll.length + "T Value = " + t)
       }
    console.log("ULOC" , Uloc);
        t = t+1;
        if (t == Listings.length-1){
            GridContainer.removeChild(GridItem1);
            GridContainer.removeChild(GridItem2);
            GridContainer.removeChild(GridItem3);
            GridContainer.removeChild(GridItem4);
            element.removeChild("grid-container2");
        }
        mymap.flyTo({
center: requestArr,
essential: true // this animation is considered essential with respect to prefers-reduced-motion
});
    })
    })


.catch(console.log("fail"))

}
t= 0;

}


function build_listings() {
    document.getElementById('nearbyListings').innerHTML ='<div class="grid-container2" id = "Listings"><div class="grid-item2"><b><i>Address</b></i></div><div class="grid-item2"><b><i>Asking Price</b></i></div> <div class="grid-item2"><b><i>Details</b></i></div>{% for listing in AllListings %}<div class="grid-item2"><b><i>{{ listing.house_num }} {{ listing.street_name }} {{ listing.state }} </b></i></div><div class="grid-item2"><b><i>{{ listing.asking_price }} </b></i></div><div class="grid-item2"><b><i><form method="POST" action="/listing/{{ listing.state }}/{{ listing.zip_code }}/{{ listing.city }}/{{ listing.street_name }}/{{ listing.house_num }}">{% csrf_token %}<button type = "Submit" id ="Submit" value="Submit">Details</button></form></b></i></div>{% endfor %}'
}

//map function(go to location user entered)
/*
function Flyto() {
    navigator.geolocation.getCurrentPosition(function(position) {
        latit = position.coords.latitude;
        longit = position.coords.longitude;
        console.log(longit);
        // this is just a marker placed in that position
        var abc = L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);
        // move the map to have the location in its center
        mymap.flyTo(new L.LatLng(latit, longit));
    });
}
*/
     </script>


</html>