<!DOCTYPE html>
<html lang="en">
{% load static %} 
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <title></title>
    <link id="pageStyle" href="{% static 'Williz/main.css' %}" type="text/css" rel="stylesheet" />
      <div id="mySidenav" class="sidenav">
      <a class="closebtn" onclick="closeNav()" style= "cursor: pointer">&times;</a>
      <div id = "nav-ele">
      <a href="#home" onclick="closeNav()">Home</a>
      </div>
      <div id = "nav-ele">
      <a href="#Listings" onclick="closeNav()">Listings</a>
      </div>
      <div id = "nav-ele">
      <a href="#Contact" onclick="closeNav()">Contact</a>
      </div>
      <div id = "nav-ele">
      <a href="../register" onclick="closeNav()">Create Account</a>
      </div>
      <div id = "nav-ele">
      <a href="../login" onclick="closeNav()">Login</a>
      </div>
    </div>
    <span id="nav-btn" style="font-size:4em;cursor:pointer; float:left; positon:relative; color:white" onclick="openNav()">&#9776;</span>
  </head>
      
      
      <script>


function openNav() {

    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main_body").style.marginLeft = "250px";

    /*
    document.getElementById("main_body").style.backgroundImage = "linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/videoblocks-portrait-of-smiling-family-standing-in-front-of-their-home_skmbaiws0m_thumbnail-1080_01.png')";
    document.getElementById("loginCont").style.backgroundColor = "#3bb79090";
    document.getElementById("loginCont").style.backgroundImage = "linear-gradient(315deg, #3bb79080 0%, #0bab6380 74%)";
    */
 document.getElementById("dimmer").style.opacity = "0.6"
 document.getElementById("dimmer").style.zIndex = "100";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
     document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main_body").style.marginLeft = "0";

        /*
    document.getElementById("main_body").style.backgroundImage = "linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/qmraJpx/videoblocks-portrait-of-smiling-family-standing-in-front-of-their-home_skmbaiws0m_thumbnail-1080_01.png')";
      document.getElementById("loginCont").style.backgroundColor = "#3bb7909c";
       document.getElementById("loginCont").style.backgroundImage = "linear-gradient(315deg, #3bb7909c 0%, #0bab639c 74%)";
           */
        document.getElementById("dimmer").style.opacity = "0"
        document.getElementById("dimmer").style.zIndex = "-1";

}  
</script>
          <img id = "logo" src="{% static 'Williz/logoWhiteStroke.png' %}" style = "float:right" alt = "Logo">


<div style = "clear:both"></div>


  <body id="main_body">


    <div class="dimmer" id = "dimmer"></div>

    <div id="FormCont"> 

    <h1 id="mainHeader">Search</h1>   
    <form id="loginForm" method="POST" action="../searchListings_handler/">
        {% csrf_token %}
        <label><b>Location</b>
        </label></br>
        <input type="text" name="userLoc" id="userLoc" class = "FormInput" placeholder="Enter Location">  </br>
        <label><b>Distance</b>
        </label></br>
        
        <label class="Radio-btn" style = "padding-right:2%; display: none">50 Miles
        <input type="radio" id = "Radius50" name="radio" onchange="Radius()" value="0" style = " display: none">
        </label>   

        <label class="Radio-btn" style = "padding-right:2%; display: none">25 Miles
        <input type="radio" id = "Radius25" name="radio" onchange="Radius()" value="0" style = " display: none">
        </label> 

        <label class="Radio-btn" style = "padding-right:2%; display: none">10 Miles
        <input type="radio" id = "Radius10" name="radio" onchange="Radius()" value="0" style = " display: none">
        </label> 

        <label class="Radio-btn">All
        <input type="radio" id = "Radiusall" name="radio" onchange="Radius()" value="0" checked>
        </label> 


    </form>    
            <button onClick="Radius()"> Show Listings</button>
</div> 
</br>
<div id ="MapContainer">
    <div id="mapid" style = " display: none;"></div> 
</div>

<div id="nearbyListings">

</div>





 <footer class="footer">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a href="#" class="navbar-brand">About Williz</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                </ul>
            </div>
        </nav>
    </footer>

  </body>
  <!--
     <script src="{% static 'Js/Map.js' %}"></script>
  -->


     <script> 
     /*
        var mymap = L.map('mapid');


        const tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        tiles.addTo(this.mymap);
*/

mapboxgl.accessToken = 'pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ';
const mymap = new mapboxgl.Map({
    container: 'mapid',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-79.4512, 43.6568],
    zoom: 13
});





var Uloc = "{{UserLoc}}";

/*
async function makeRequest() {
axios({
  method: 'get',
  url: 'https://api.mapbox.com/geocoding/v5/mapbox.places/ADDRESS.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ',
  responseType: 'stream'
})

await axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Uloc+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ')
  .then(function (response) {
    // handle success
   
  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })



}
*/




/*
const makeRequest = async () => {
    try {
        const response = await axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Uloc+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ');
        const searchedLoc = response.data.features[0].geometry.coordinates;
        console.log(response.data.features[0].geometry.coordinates);
        //var searchedLoc = [];
        // searchedLoc.push(response.data.features[0].geometry.coordinates[0]);
        //searchedLoc.push(response.data.features[0].geometry.coordinates[1]);
        return searchedLoc;
    } catch (err) {
        // Handle Error Here
        console.error(err);
    }

};

*/
// Add a request interceptor





  // fetch data from a url endpoint
  /*
  const makeRequest = async () => { 
      
    try {
    const response = await axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Uloc+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ');
    if (response.status === 200) { // response - object, eg { status: 200, message: 'OK' }
      console.log('success stuff');
            let requestArr = await response.data.features[0].center[0];
        //requestArr.push(response.data.features[0].center[0]);
        //requestArr.push(response.data.features[0].center[1]);
     return response.attributes;
    }
   } catch (err) {
     console.error(err)
     return false;
   }
};
*/




/*
sendGetRequest();
function assignVar(data){
    searchedLoc = data;
    return searchedLoc;
    console.log(searchedLoc);
}
*/
let testing = 3;
    console.log(testing);
let loc = [];
var loc1 = L.LatLng(-78.8270882041, 167.7921310181);
var loc2 = L.LatLng(-79.8270882041, 168.7921310181);
/*
mymap.on('click', function(ev) {
    var latlng = mymap.mouseEventToLatLng(ev.originalEvent);
    console.log("Latitude: " + latlng.lat.toFixed(10) + ', Longitude: ' + latlng.lng.toFixed(10));
    marker = L.marker([latlng.lat, latlng.lng]).addTo(mymap);

    mymap.addLayer(marker);

});
*/
mymap.on('style.load', function() {
  mymap.on('click', function(e) {
    var coordinates = e.lngLat;
    new mapboxgl.Popup()
      .setLngLat(coordinates)
      .setHTML('you clicked here: <br/>' + coordinates)
      .addTo(mymap);
  });
});




function getDistance(origin, destination) {
    // return distance in meters
    var lon1 = toRadian(origin[1]),
        lat1 = toRadian(origin[0]),
        lon2 = toRadian(destination[1]),
        lat2 = toRadian(destination[0]);

    var deltaLat = lat2 - lat1;
    var deltaLon = lon2 - lon1;

    var a = Math.pow(Math.sin(deltaLat / 2), 2) + Math.cos(lat1) * Math.cos(lat2) * Math.pow(Math.sin(deltaLon / 2), 2);
    var c = 2 * Math.asin(Math.sqrt(a));
    var EARTH_RADIUS = 6371;
    return (c * EARTH_RADIUS * 1000) / 1609;
}

function toRadian(degree) {
    return degree * Math.PI / 180;
}


let temp=[];
var loc3 = [42.6696129578, -83.0337731854];
var loc4 = [42.6841200442, -83.0343570748];

    //var distance = getDistance(loc3, loc4);


//console.log(distance);

    var t = 0;

function Radius() {
    let Listings = [];

    {% for List in AllListings %}
    var a = "{{List.house_num}}, {{List.street_name}} {{List.state}}";
    Listings.push(a);
    {% endfor %}
console.log(Listings)

let urls = [];
for (var z = 0; z < Listings.length; z++) {
 urls[z] = 'https://api.mapbox.com/geocoding/v5/mapbox.places/'+Listings[z]+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ'
}
axios.all([axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Uloc+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ')])
  .then(axios.spread((...responses) => {
    responses.forEach(res => console.log(responses))
    console.log('submitted all axios calls');
  }))
.catch(error => {})

let ListingCoords = []
for (var i = 0; i < Listings.length; i++) {
axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Listings[i]+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ')
.then(response => {
    ListingCoords.push(response.data.features[0].geometry.coordinates);
    console.log("THJIS " , ListingCoords)
})
.then(response => {
console.log("array of : ", ListingCoords)

axios.get('https://api.mapbox.com/geocoding/v5/mapbox.places/'+Uloc+'.json?country=US&access_token=pk.eyJ1IjoiYXJrMzciLCJhIjoiY2t1bjVyeHFsMHBhZTJ1b3h3czV0MXl6cSJ9.fde6IAv5ibKTxPMIMAX_EQ')
    .then(response => {
        console.log(response.data.features[0].center[0]);
        const requestArr = [];
        requestArr.push(response.data.features[0].center[0]);
        requestArr.push(response.data.features[0].center[1]);
    let output = []
    var radio10 = document.getElementById('Radius10');
    var radio25 = document.getElementById('Radius25');
    var radio50 = document.getElementById('Radius50');
    var radioall = document.getElementById('Radiusall');
    var ArrDistAll = [];

    for (var p = 0; p < ListingCoords.length; p++) {
        var distance = getDistance(ListingCoords[p], requestArr);
        ArrDistAll.push(distance)
        console.log("FOR LOOP", ArrDistAll);
    }
    console.log("ListingCoords ", ListingCoords.length)
    console.log("ARRDISTALL ", ArrDistAll);

    if ((radio10.checked == true) && (radio25.checked == false) && (radio50.checked == false) && (radioall.checked == false)) {
        output.push(ArrDistAll.filter(function(distance) {
            return distance < 10;
            console.log(ArrDistAll);
        }));
    } else if ((radio10.checked == false) && (radio25.checked == true) && (radio50.checked == false) && (radioall.checked == false)) {
       output.push(ArrDistAll.filter(function(distance) {
            return distance < 25;
        }));
    } else if ((radio10.checked == false) && (radio25.checked == false) && (radio50.checked == true) && (radioall.checked == false)) {
        output.push(ArrDistAll.filter(function(distance) {
            return distance < 50;
        }));
    } else if ((radio10.checked == false) && (radio25.checked == false) && (radio50.checked == false) && (radioall.checked == true)) {
       output.push(ArrDistAll.filter(function(distance) {
            return distance > 0;
        }));
    }
        else{
            console.log("error");
        }

        console.log("output ", output);
        
        console.log("T ARR VALUE ", ArrDistAll[t]);
        document.getElementById('nearbyListings').innerHTML ='<div class="grid-container2" id = "Listings"><div class="grid-item2"><b><i>Address</b></i></div><div class="grid-item2"><b><i>Asking Price</b></i></div> <div class="grid-item2"><b><i>Details</b></i></div>{% for listing in AllListings %}<div class="grid-item2"><b><i>{{ listing.house_num }} {{ listing.street_name }} {{ listing.state }} </b></i></div><div class="grid-item2"><b><i>{{ listing.asking_price }} </b></i></div><div class="grid-item2"><b><i><form method="POST" action="listing/update/{{ listing.state }}/{{ listing.zip_code }}/{{ listing.city }}/{{ listing.street_name }}/{{ listing.house_num }}">{% csrf_token %}<button type = "Submit" id ="Submit" value="Submit">Details</button></form></b></i></div>{% endfor %}';

        t = t+1;
    })
    })


.catch(console.log("fail"))
}
}



/*
console.log("All: " , ArrDistAll);
console.log("50 Mile Radius: " , ArrDist50);
console.log("Below 25: " , ArrDist25);
console.log("Below 10: " , ArrDist10);
console.log("Filter: " , output)
*/







function Flyto() {
    navigator.geolocation.getCurrentPosition(function(position) {
        latit = position.coords.latitude;
        longit = position.coords.longitude;
        console.log(longit);
        // this is just a marker placed in that position
        var abc = L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);
        // move the map to have the location in its center
        mymap.flyTo(new L.LatLng(latit, longit));
    });
}
     </script>


</html>